.container {
  display: flex;
  justify-content: center;
}

.danger {
  background: radial-gradient(transparent 0%, transparent 79%, rgba(37, 72, 2, 0.3) 70%);
}

.board {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.row {
  display: flex;
}


.cell img {
  width: 100%;
  height: 100%;
}

.row:nth-child(even) .cell:nth-child(even),
.row:nth-child(odd) .cell:nth-child(odd)  {
  background-color: #f8e0b0
}

.available {
  background: URL('../assets/greenDot.png') no-repeat center center;
  background-size: 25% 25%;
}

.active-cell {
  background: URL('../assets/greenSquare.png') no-repeat center center/cover;
}

.cell {
  width: 70px;
  height: 70px;
  background-color: #a37043;
}