* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 3em;
  gap: 50px;
  max-width: 1280px;
}

/* Info */

.info {
  border-radius: 5px;
  border: 1px solid rgb(209, 208, 208);
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 260px;
  padding: 60px 30px;
}

.info__turn {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

.info__btn {
  border: none;
  background: none;
  border: 1px solid rgb(209, 208, 208);
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

.info__btn:hover {
  background-color: rgb(148, 146, 146);
}

.info__btn > img {
  width: 25px;
  height: 25px;
}

.info__btn + .info__btn {
  margin-left: 5px;
}

/* Board */

.board {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.danger {
  background: radial-gradient(transparent 0%, transparent 79%, rgba(37, 72, 2, 0.3) 70%);
}

.incheck {
  background: radial-gradient(ellipse at center, rgb(255, 0, 0) 0%, rgb(231, 0, 0) 25%, rgba(169, 0, 0, 0) 89%, rgba(158, 0, 0, 0) 100%)
}

.board__row {
  display: flex;
}


.cell img {
  width: 100%;
  height: 100%;
}

.board__row:nth-child(even) .cell:nth-child(even),
.board__row:nth-child(odd) .cell:nth-child(odd)  {
  background-color: #f8e0b0
}

.available {
  background: URL('../assets/greenDot.png') no-repeat center center;
  background-size: 25% 25%;
}

.active-cell {
  background: URL('../assets/greenSquare.png') no-repeat center center/cover;
}

.cell {
  width: 70px;
  height: 70px;
  background-color: #a37043;
}

/* FEN */

.fen {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.fen__heading {
  display: inline-block;
  font-size: 1.1em;
}

.fen__input {
  padding: 10px;
  border: 1px solid rgb(148, 146, 146);
  width: 350px;
  font-size: .85em;
}

.fen__btn {
  padding: 11px 30px;
  background-color: rgb(48, 82, 48);
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Moves */

.moves {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-self: flex-start;
  align-items: center;
  border: 1px solid rgb(148, 146, 146);
  border-radius: 5px;
  width: 320px;
  height: 560px;
  padding: 10px;
  overflow: scroll;
}

.moves__heading {
  font-size: 18px;
}

/* Table */

tr {
  vertical-align: middle;
  text-align: center;
  height: 40px;
}

.table-secondary {
  width: 40px;
}

.table-light {
  text-align: left;
  min-width: 113px;
}

td > img {
  display: inline-flex;
  margin-bottom: 5px;
  height: 20px;
  width: 20px;
}
