@font-face {
    font-family: 'Jua';
    src: url('/fonts/Jua-Regular.ttf');
}

@font-face {
    font-family: 'Cabin';
    src: url('./fonts/Cabin-Regular.ttf');
}


html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Cabin', sans-serif;
}

.background-img {
    background-image: url('/images/main-img.png');
    width: 1025px;
    height: 576px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-card {
    border-radius: 20px;
    background-color: #FFFFFF;
    border: 1px solid #AA9F9F;
    padding: 10px 15px;
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    h1 {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-size: 36px;
        font-family: 'Jua', sans-serif;
    }

    .ellipse {
        background-color: #EBE6E6;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.card-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-lable {
    font-size: 12px;
    font-family: 'Cabin', sans-serif;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.row-item {
    width: calc((100% - 10px) / 2 );
}

.row-item-flex {
    width: calc((100% - 10px) / 2 );
    display: flex;
    gap: 10px;
}

.row-btn {
    margin-top: 13px;
}
.ant-input {
    text-align: center;
}

.players-block {
    border: 1px solid black;
    border-radius: 12px;
    width: 104px;
    height: 214px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-row {
    display: flex;
    gap: 10px;
    align-items: center;
}

.checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkbox-start {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.checkbox-img {
    cursor: pointer;
}