@font-face {
  font-family: 'Jua';
  src: url('/fonts/Jua-Regular.ttf');
}

@font-face {
  font-family: 'Cabin';
  src: url('./fonts/Cabin-Regular.ttf');
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Cabin', sans-serif;
}

.background-img {
  background: url('/images/main-img.png') center center/cover no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-card {
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid #aa9f9f;
  padding: 10px 15px;
}



.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Jua', sans-serif;
  }

  .ellipse {
    background-color: #ebe6e6;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.info .header-div h1{
  font-size:26px
}

.card-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-lable {
  font-size: 12px;
  font-family: 'Cabin', sans-serif;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.row-item {
  width: calc((100% - 10px) / 2);
}

.row-item-flex {
  width: calc((100% - 10px) / 2);
  display: flex;
  gap: 10px;
}

.row-btn {
  margin-top: 13px;
}
.ant-input {
  text-align: center;
}

.players-block {
  border: 1px solid black;
  border-radius: 12px;
  // width: 104px;
  height: 214px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox-start {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.checkbox-img {
  cursor: pointer;
}

/*.board {
    width: calc(72px * 8);
    height: calc(72px * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    background-color: #a37043;
}

.white {
   background-color:  #f8e0b0;
} */

// Свойтсва Дани.

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 30px;
  max-width: 1280px;
}

/* Info */

.info {
  border-radius: 5px;
  border: 1px solid rgb(209, 208, 208);
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  width: 290px;
  height: 560px;
  align-self: start;
  margin-top: 40px;
  padding: 20px;
  // padding: 60px 30px;
}

.info > h3 {
  font-weight: 600;
}

.info__player_white > h3,
.info__player_black > h3 {
  font-weight: 400;
}

.info__player_black,
.info__player_white {
  align-self: flex-start;
}

.whitePlayer {
  margin-left: 22px;
}

.blackPlayer {
  margin-left: 8px;
}

.info__player_white {
  margin-bottom: 20px;
}

.info__player_black {
  margin-top: 20px;
}

.info__heading {
  font-size: 1.5em;
  display: inline-flex;
}

.info__icon {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  margin-left: 10px;
  align-self: flex-end;
  display: inline-flex;
}

.info__status {
  font-size: 1.5em;
  color:rgb(172, 16, 16);
}

.info__reason {
  color: rgb(82, 42, 42);
  font-size: 1.2em;
  margin-bottom: 1.3em;
}

.info__players {
  color:rgba(16, 9, 99, 0.836);
  font-size: 1.2em;
}

.info__btn {
  border: none;
  background: none;
  border: 1px solid rgb(209, 208, 208);
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

.info__btn:hover {
  background-color: rgb(148, 146, 146);
}

.info__btn > img {
  width: 25px;
  height: 25px;
}

.info__btn + .info__btn {
  margin-left: 5px;
}

.color-side {
  margin-right: 5px;
  font-size: 1.2em;
  color: rgb(73, 73, 75);
}

/* Board */

.flex-container{
  display: flex;
  flex-direction: row;
}

.board {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.danger {
  background: radial-gradient(
    transparent 0%,
    transparent 79%,
    rgba(37, 72, 2, 0.3) 70%
  );
}

.incheck {
  background: radial-gradient(
    ellipse at center,
    rgb(255, 0, 0) 0%,
    rgb(231, 0, 0) 25%,
    rgba(169, 0, 0, 0) 89%,
    rgba(158, 0, 0, 0) 100%
  );
}

.board__row {
  display: flex;
}

.cell img {
  width: 100%;
  height: 100%;
}

.empty-cell {
  width: 40px;
  height: 40px;
}

.x1-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 70px;
  font-weight: bold;
  font-size: 1.2rem;
  color: grey;
}

.xA-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 40px;
  font-weight: bold;
  font-size: 1.2rem;
  color: grey;
  text-align: center;
}

.board__row:nth-child(even) .cell:nth-child(even),
.board__row:nth-child(odd) .cell:nth-child(odd) {
  background-color: #f8e0b0;
}

.available {
  background: URL('../assets/greenDot.png') no-repeat center center;
  background-size: 25% 25%;
}

.active-cell {
  background: URL('../assets/greenSquare.png') no-repeat center center/cover;
}

.cell {
  width: 70px;
  height: 70px;
  background-color: #a37043;
}

/* FEN */

.fen {
  display: flex;
  // justify-content: center;
  margin-top: 5px;
}

.fen__heading {
  display: inline-block;
  font-size: 1.1em;
  margin-right: 5px;
}

.fen__input {
  padding: 10px;
  border: 1px solid rgb(148, 146, 146);
  width: 560px;
  font-size: 0.85em;
  margin-bottom: 10px;
}

/* Moves */

.moves {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-self: flex-start;
  margin-top: 38px;
  align-items: center;
  border: 1px solid rgb(148, 146, 146);
  border-radius: 5px;
  width: 340px;
  height: 560px;
  padding: 10px;
  overflow: scroll;
}

.moves__heading {
  font-size: 18px;
}

/* Table */

tr {
  vertical-align: middle;
  text-align: center;
  height: 40px;
}

.table-secondary {
  width: 40px;
}

.table-light {
  text-align: left;
  min-width: 113px;
}

td > img {
  display: inline-flex;
  margin-bottom: 5px;
  height: 20px;
  width: 20px;
}

/* Modal */

.pickFigureModal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgb(68, 68, 68, 0.7);
}

.pickFigureModal__content {
  background-color: #fff;
  width: 420px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.pickFigureModal__piece {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border: 1px solid gray;
}

.pickFigureModal__piece:hover {
  background-color: rgb(135, 135, 135);
}

.pickFigureModal__heading {
  margin-bottom: 30px;
}

.pickFigureModal__piece + .pickFigureModal__piece {
  margin-left: 10px;
}

.ant-table-row:hover {
  cursor: pointer;
  box-shadow: inset 0 0 10px #00c3ff;
}

.ant-table-cell-row-hover {
  cursor: pointer;
  box-shadow: inset 0 0 3px #008ab4;
}

.ant-input-disabled {
  cursor: default !important;
}

.copyIDbutton {
  border-radius: 5px;
  // background-color: rgb(148, 146, 146);
  filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.5));
  cursor: pointer;
  // align-self: center;
  margin-top: 10px;
  width: 40px;
  height: 40px;
}

.copyIDbutton:hover {
  position: relative;
  top: -2px;
  left: -2px;
  filter: drop-shadow(2px 2px 3px rgb(0 0 0 / 0.5));
}

.copyIDbutton:active {
  position: relative;
  top: 0px;
  left: 0px;
  filter: drop-shadow(0px 0px 1px rgb(0 0 0 / 0.7));
}

.roomName {
  padding: 1px;
  font-size: 18px;
  font-weight: 700;
  color: black;
}
.roomName::placeholder {
  color: black;
}

.roomName.host::placeholder {
  color: gray;
}

.playerBar {
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
  height: 30px;
  display: flex;
  align-items: center;
  margin: 3px;
  font-size: 14px;
  height: 32px;
}

.playerBar > .playerName {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  white-space: nowrap;
  // max-width: 50%;
  max-width: calc(100% - 70px);
}
.playerStatus {
  border-radius: 16px;
  height: 26px;
  width: 26px;
  margin: 5px;
}
.playerStatus.online {
  background-color: rgb(50, 207, 11);
  box-shadow: inset 0px 0px 5px 5px rgba(7, 32, 2, 0.644),
    inset 2px 2px 1px 1px rgb(115, 255, 0),
    inset 2px 4px 2px 2px rgba(115, 255, 0, 0.76);
  animation: pulsationGreen 5s infinite;
}
.playerStatus.offline {
  background-color: rgb(221, 52, 10);
  box-shadow: inset 0px 0px 5px 5px rgba(54, 10, 2, 0.747),
    inset 2px 2px 1px 1px rgba(255, 145, 0, 0.89),
    inset 2px 4px 2px 2px rgba(255, 123, 0, 0.699);
  animation: pulsationRed 3s infinite;
}
.crown {
  margin-left: auto;
  margin-right: 5px;
  margin-bottom: 1px;
  height: 26px;
}

@keyframes pulsationGreen {
  0% {
    animation: ease-in;
    background-color: rgb(50, 207, 11);
  }

  80% {
    animation: ease-out;
    background-color: rgb(1, 151, 13);
  }

  100% {
    background-color: rgb(50, 207, 11);
  }
}

@keyframes pulsationRed {
  0% {
    animation: ease-out;
    background-color: rgb(230, 50, 5);
  }

  70% {
    animation: ease-in;
    background-color: rgb(136, 28, 1);
  }

  100% {
    background-color: rgb(230, 50, 5);
  }
}

// Top/Bottom player

.top-player, .bottom-player {
  display: flex;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  &__color {
    color: gray;
    font-weight: 400;
    margin-right: 10px;
    font-size: 25px;
  }
  &__username {
    font-weight: 500;
    font-size: 25px;
  }
}

.icon-small {
  width: 22px;
  height: 22px;
  margin-left: 5px;
  margin-bottom: 10px;
}