.playerBar{
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    border-width: 1px;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 3px;
    font-size: 14px;
    height: 32px;
}

.playerBar>.playerName{
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    white-space: nowrap;
    // max-width: 50%;
    max-width: calc(100% - 70px);
}
.playerStatus{
    border-radius: 16px;
    height: 26px;
    width: 26px;
    margin: 5px;
}
.playerStatus.online{
    background-color: rgb(50, 207, 11);
    box-shadow:inset 0px 0px 5px 5px rgba(7, 32, 2, 0.644),
     inset 2px 2px 1px 1px rgb(115, 255, 0),
     inset 2px 4px 2px 2px rgba(115, 255, 0, 0.76);
    animation: pulsationGreen 5s infinite;
}
.playerStatus.offline{
    background-color: rgb(221, 52, 10);
    box-shadow:inset 0px 0px 5px 5px rgba(54, 10, 2, 0.747),
    inset 2px 2px 1px 1px rgba(255, 145, 0, 0.89),
    inset 2px 4px 2px 2px rgba(255, 123, 0, 0.699);
    animation: pulsationRed 3s infinite;
}
.crown{
    margin-left: auto;
    margin-right: 5px;
    margin-bottom: 1px;
    height: 26px;
}

@keyframes pulsationGreen {
    0%{
        animation: ease-in;
        background-color: rgb(50, 207, 11);
    }
    
    80%{  
        animation: ease-out;
        background-color: rgb(1, 151, 13);
    }

    100%{
        background-color: rgb(50, 207, 11);
    }
}

@keyframes pulsationRed {
    0%{
        animation: ease-out;
        background-color: rgb(230, 50, 5);
    }
    
    70%{  
        animation: ease-in;
        background-color: rgb(136, 28, 1);
    }

    100%{
        background-color: rgb(230, 50, 5);
    }
}